:root {
    --main-bg-color: rgba(236, 236, 236, 0.9);
    --border-color: #515c6b;
    --dark-hover-color: #7d7d7d;
    --normal-hover-color: #d8d8d8;
    --light-hover-color: #dcdcdc;
    --btn-bg-color: #f2f2f2
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

* {
    box-sizing: border-box
}

.cal-icon {
    display: inline-block;
    font-size: 18px;
    color: gray;
    padding: 12px;
    margin: 10px;
    position: relative;
    border: 2px solid rgba(125, 125, 125, 0.3)
}

.cal-icon:hover {
    cursor: pointer
}

.cal-icon:hover .tooltipcal {
    display: block;
    top: 50px
}

.calculator {
    width: 325px;
    min-height: 500px;
    height: 100%;
    display: none;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 15px #bfbfbf, -2px 0 20px #bfbfbf
}

.title-bar {
    width: 100%;
    height: 32px;
    color: #000;
    font-size: 12px;
    font-weight: 100;
    background-color: var(--main-bg-color)
}

.title {
    padding: 6px 9px;
    float: left
}

[class*="title-bar-btn"] {
    display: inline-block;
    padding: 6px 15px;
    float: right;
    position: relative
}

[class*="tooltip"] {
    background-color: var(--btn-bg-color);
    color: #000;
    border: 1px solid #515c6b;
    padding: 2px 5px;
    position: absolute;
    font-size: 10px;
    display: none;
    top: 30px
}

.title-bar .times:hover {
    background-color: red;
    color: #fff
}

.title-bar-btn1:hover .tooltip1 {
    display: inline-block
}

.title-bar-btn2:hover {
    background-color: var(--normal-hover-color)
}

.title-bar-btn2:hover .tooltip2 {
    display: inline-block
}

.title-bar-btn3:hover {
    background-color: var(--normal-hover-color)
}

.title-bar-btn3:hover .tooltip3 {
    display: inline-block
}

.main-container {
    width: 325px;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    position: relative
}

.left {
    width: 325px
}

.right {
    display: none;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: bold
}

.right-title {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--dark-hover-color)
}

.side-bar {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-bg-color)
}

.nav-icon {
    padding: 10px 12px;
    font-size: 14px
}

.nav-icon:hover {
    background-color: var(--normal-hover-color)
}

.nav-icon:hover .tooltip-nav {
    display: block
}

.state-title {
    padding: 10px 12px;
    font-size: 18px
}

.var-body {
    width: 100%;
    min-height: 425px;
    height: calc(100% - 40px);
    padding-bottom: 2px
}

.screen {
    width: 100%;
    height: 14%;
    background-color: var(--main-bg-color)
}

.screen-holder {
    text-align: right;
    color: var(--dark-hover-color);
    font-size: 14px;
    padding: 0 12px;
    font-weight: lighter
}

.screen-result {
    text-align: right;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    padding: 5px 12px
}

.screen-btn-container {
    width: 100%;
    height: 22%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.screen-btn-container button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 25%;
    width: 100%;
    text-align: left;
    display: block;
    font-size: 11px;
    font-weight: 600;
    border-left: 5px solid transparent
}

.screen-btn-container button:hover {
    background-color: var(--normal-hover-color)
}

.screen-btn-container button.active {
    border-left: 5px solid var(--dark-hover-color)
}

.top-btn-row {
    width: 100%;
    height: 9.14%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    color: #000;
    padding: 2px
}

.top-btn-row .tablinks {
    width: 16.66%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative
}

.top-btn-row .tablinks:hover {
    background-color: var(--light-hover-color);
    border: 1px solid rgba(125, 125, 125, 0.3)
}

.top-btn-row button.active {
    color: var(--dark-hover-color);
    border-bottom: 3px solid var(--dark-hover-color)
}

.top-btn-row .tabmode {
    width: 33.32%;
    height: 100%;
    text-align: center
}

.top-btn-row .tabmode button {
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0 8px;
    text-align: center
}

.top-btn-row .tabmode button:hover {
    background-color: var(--light-hover-color);
    border: 1px solid rgba(125, 125, 125, 0.3)
}

.btn1:hover .tooltip4 {
    display: block
}

.btn2:hover .tooltip5 {
    display: block
}

.btn3:hover .tooltip6 {
    display: block
}

.btn4:hover .tooltip7 {
    display: block
}

.main-btn-container {
    width: 100%;
    height: 54.84%;
    display: none;
    flex-direction: row;
    background-color: transparent;
    box-sizing: border-box
}

[class*="col-"] {
    width: 16.66%;
    height: 100%;
    box-sizing: border-box
}

[class*="col-"] .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.6%;
    box-sizing: border-box;
    background-color: var(--btn-bg-color);
    margin: 2px 1px;
    font-size: 12px
}

[class*="col-"] .white-btn {
    background-color: #fff;
    font-weight: bold
}

[class*="col-"] .white-btn-hover:hover {
    background-color: var(--light-hover-color);
    border: 2px solid rgba(125, 125, 125, 0.3)
}

[class*="col-"] .dark-btn {
    background-color: var(--btn-bg-color)
}

[class*="col-"] .dark-btn-hover:hover {
    background-color: var(--light-hover-color);
    border: 2px solid rgba(125, 125, 125, 0.3)
}

[class*="col-"] .opr-btn {
    background-color: var(--btn-bg-color);
    font-size: 14px
}

[class*="col-"] .opr-btn-hover:hover {
    color: #fff;
    background-color: var(--dark-hover-color);
    border: 1px solid var(--dark-hover-color)
}

.btn-item {
    width: 100%;
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none
}

button:disabled, button[disabled] {
    color: #bfbfbf !important
}

.nav {
    width: 0;
    height: 466px;
    background-color: #f4f4f4;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: width 0.5s;
    overflow: hidden;
    padding: 0;
    font-size: 14px
}

.nav-head {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0
}

.nav-inner-icon {
    padding: 10px 12px;
    font-size: 14px;
    margin: 0

}

.nav-inner-icon:hover {
    background-color: var(--normal-hover-color)
}

.nav-inner-icon:hover .inner-tooltip-nav {
    display: inline-block
}

.nav-foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0
}

.nav-foot i {
    padding: 10px 12px;
    font-size: 14px
}

.nav-foot:hover {
    background-color: var(--normal-hover-color)
}

.nav-body {
    overflow-y: scroll;
    width: 100%;
    height: 380px
}

.nav-body h3 {
    padding: 10px 12px;
    font-size: 14px;
    margin: 0
}

.nav-item i {
    padding: 10px 12px;
    margin-right: 5px
}

.nav-item:hover {
    background-color: var(--normal-hover-color)
}

.active-item {
    background-color: var(--normal-hover-color);
    border-left: 4px solid var(--dark-hover-color)
}

@media screen and (min-width: 326px) {
    .calculator {
        width: 100%;
    }

    .main-container {
        width: 100%
    }

    .left {
        width: 100%
    }
}

@media screen and (min-width: 560px) {
    .right {
        display: block;
        width: 325px
    }
}
