:root {
    --main-bg-color: rgba(236, 236, 236, 0.9);
    --border-color: #515c6b;
    --dark-hover-color: #7d7d7d;
    --normal-hover-color: #d8d8d8;
    --light-hover-color: #dcdcdc;
    --btn-bg-color: #f2f2f2;

}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

* {
    box-sizing: border-box
}

.cal-icon {
    font-size: 18px;
    color: gray
}

.calculator {
    width: 325px;
    height: 500px;
    resize: horizontal;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 15px #bfbfbf, -2px 0 20px #bfbfbf;
}

.title-bar {
    width: 100%;
    height: 32px;
    color: #000;
    font-size: 12px;
    font-weight: 100;
    display: flex;
    align-items: center;
    position: relative;

}

.title {
    padding: 6px 9px;
}

.title-bar-btn-container {
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0
}

.title-bar-btn-container span {
    display: inline-block;
    height: 32px;
    padding: 8px 16px;
    text-align: center;
    vertical-align: center
}

.title-bar-btn-container span:hover {
    background-color: var(--normal-hover-color);
    cursor: pointer;
}

.title-bar-btn-container .title-bar-times:hover {
    background-color: red;
    color: #fff;
    margin: 0
}

.side-bar {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.nav-icon {
    padding: 10px 12px;
    font-size: 14px
}

.nav-icon:hover {
    background-color: var(--normal-hover-color)
}

.state-title {
    padding: 10px 12px;
    font-size: 18px
}

.var-body {
    width: 100%;
    height: 425px;
    padding-bottom: 2px
}

.screen {
    width: 100%;
    height: 14%;
    background-color: brown
}

.screen-btn-container {
    width: 100%;
    height: 22%;
    background-color: cadetblue
}

.top-btn-row {
    width: 100%;
    height: 9.14%;
    background-color: crimson
}

.main-btn-container {
    width: 100%;
    height: 54.84%;
    display: flex;
    flex-direction: row;
}

[class*="col-"] {
    width: 16.66%;
    height: 100%;
}

[class*="col-"] .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16.6%;
    box-sizing: border-box;
    background-color: var(--btn-bg-color);
    border: 2px solid var(--main-bg-color);
    font-size: 12px
}

[class*="col-"] .btn:hover {
    background-color: var(--light-hover-color);
    border: 1px solid var(--dark-hover-color)
}

[class*="col-"] .white-btn {
    background-color: #fff;
    font-weight: bold
}

[class*="col-"] .white-btn:hover {
    background-color: var(--light-hover-color);
    border: 1px solid var(--dark-hover-color)
}

[class*="col-"] .dark-btn {
    background-color: var(--btn-bg-color)
}

[class*="col-"] .dark-btn:hover {
    background-color: var(--light-hover-color);
    border: 1px solid var(--dark-hover-color)
}

[class*="col-"] .opr-btn {
    background-color: var(--btn-bg-color);
    font-size: 14px
}

[class*="col-"] .opr-btn:hover {
    color: #fff;
    background-color: var(--dark-hover-color);
    border: 1px solid var(--dark-hover-color)
}

[class*="col-"] .disabled {
    background-color: var(--btn-bg-color)
}

[class*="col-"] .disabled:hover {
    background-color: var(--btn-bg-color);
    border: 2px solid var(--main-bg-color);
}